POSTGRES_HOST=localhost
POSTGRES_HOST_PORT=5432
POSTGRES_DB=sample
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

export PGHOST=${POSTGRES_HOST}
export PGPORT=${POSTGRES_HOST_PORT}
export PGDATABASE=${POSTGRES_DB}
export PGUSER=${POSTGRES_USER}
export PGPASSWORD=${POSTGRES_PASSWORD}
